<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${titulo}"></title>
</head>
<body>
<form th:action="@{/pacientes/agregar}" th:object="${paciente}" method="POST">
    <br>
    <label>first_name:
        <input type="text" id="nombre" value="" required/>
    </label>
    <br>
    <label>last_name:
        <input type="text" id="apellido" value="" required/>
    </label>
    <br>
    <label>entry_date:
        <input type="text" id="fechaIngreso" value="" required/>
    </label>
    <br>
    <label>birth_date:
        <input type="text" id="fechaNacimiento" value="" required/>
    </label>
    <br>
    <label>weight:
        <input type="text" id="peso" value="" required/>
    </label>
    <br>
    <label>document_number:
        <input type="text" id="nroDocumento" value="" required/>
    </label>
</form>

</body>
</html>